In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("updated_parsed_runlist_110425.csv")

In [4]:
df.head()

,run,date,start_time,ebeam,current,target,hms_p,hms_th,shms_p,shms_th,ps1,ps2,ps3,ps4,ps5,ps6,run_type,comment
0,23834,07/15,23:26,8.5831,5.0,HOLE,2.28,42.0,-7.07,12.465,0,-1,0,-1,-1,-1,HOLE,!First real RSIDIS run!!!
1,23835,07/15,23:58,8.5831,5.0,HOLE,2.28,42.0,-7.07,12.465,0,-1,0,-1,-1,-1,HOLE,0
2,23837,07/16,00:43,8.5831,5.0,HOLE,2.28,42.0,-7.07,12.465,0,-1,0,-1,-1,-1,HOLE,EDTM is off; 3x3 raster look good
3,23838,07/16,00:51,8.5831,5.0,HOLE,2.28,42.0,-7.07,12.465,0,-1,0,-1,-1,-1,HOLE,2X2 raster look good
4,23839,07/16,05:51,8.5831,5.0,LH2,2.28,42.0,-7.07,12.465,-1,-1,-1,-1,0,-1,HEEP,"Changed to LH2 target;Beam trips above 5uA, so..."

In [5]:
df.tail()

,run,date,start_time,ebeam,current,target,hms_p,hms_th,shms_p,shms_th,ps1,ps2,ps3,ps4,ps5,ps6,run_type,comment
1550,25599,09/03,06:25,2.231,10.0,LH2,-1.723,19.0,-1.98,18.5,-1,0,-1,-1,-1,-1,HEE,0
1551,25600,09/03,06:32,2.231,10.0,LH2,-1.723,19.0,-1.94,18.5,-1,0,-1,-1,-1,-1,HEE,0
1552,25601,09/03,06:39,2.231,10.0,LH2,-1.723,19.0,-1.90,18.5,-1,0,-1,-1,-1,-1,HEE,SHMS mom changed ~12s before run stop!
1553,25602,09/03,06:46,2.231,10.0,LH2,-1.723,19.0,-1.86,18.5,-1,0,-1,-1,-1,-1,HEE,0
1554,25603,09/03,06:52,2.231,10.0,LH2,-1.723,19.0,-1.82,18.5,-1,0,-1,-1,-1,-1,HEE,0

In [6]:
df_sidis = df["run"][
    ((df["run_type"] == "PI-SIDIS") | (df["run_type"] == "PI+SIDIS")) 
]

In [7]:
len(df_sidis)

1172

In [8]:
df_sidis.to_csv("sidis_runlist_pass0p1.txt", index=False, header=False)

In [9]:
df_heep = df["run"][
    ((df["run_type"] == "HEEP")) 
]

In [10]:
df_heep.to_csv("heep_runlist_pass0p1.txt", index=False, header=False)

In [11]:
df_hms = df["run"][
    ((df["run_type"] == "HMSDIS") | (df["run_type"] == "OPTICS") | ( (df["run_type"] == "HEE") & (df["ps4"] != -1) )) 
]

In [12]:
df_hms.to_csv("hms_runlist_pass0p1.txt", index=False, header=False)

In [13]:
df_shms = df["run"][
    ((df["run_type"] == "SHMSDIS") | (df["run_type"] == "OPTICS") | ( (df["run_type"] == "HEE") & (df["ps2"] != -1) )) 
]

In [14]:
df_shms.to_csv("shms_runlist_pass0p1.txt", index=False, header=False)